In [ ]:
import pandas as pd
# força o pandas não omitir nenhuma coluna
pd.set_option('display.max_columns', 21)

file_path = '/content/drive/MyDrive/Unifeb/2021/Aulas/IA/algoritmos/datasets/'
file_name = 'amazon.csv'

file = pd.read_csv(file_path + file_name, encoding = "ISO-8859-1")

file.head()



#w.female.replace(['male', 'female'], [1, 0], inplace=True)

   year state    month  number        date
0  1998  Acre  Janeiro     0.0  1998-01-01
1  1999  Acre  Janeiro     0.0  1999-01-01
2  2000  Acre  Janeiro     0.0  2000-01-01
3  2001  Acre  Janeiro     0.0  2001-01-01
4  2002  Acre  Janeiro     0.0  2002-01-01

In [ ]:
# mostra o total de linhas e colunas do dataset
file.shape

(6454, 5)

In [ ]:
# mostra os tipos dos dados nas colunas
file.dtypes

year        int64
state      object
month      object
number    float64
date       object
dtype: object